<%= form_with(model: [:dashboard, room], class: "contents") do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :bed_capacity %>
    <%= form.number_field :bed_capacity, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :breakfast %>
    <%= form.check_box :breakfast, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :parking %>
    <%= form.check_box :parking, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :tv %>
    <%= form.check_box :tv, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :books %>
    <%= form.check_box :books, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :balcony %>
    <%= form.check_box :balcony, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :yard %>
    <%= form.check_box :yard, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :pet_friendly %>
    <%= form.check_box :pet_friendly, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :hair_dryer %>
    <%= form.check_box :hair_dryer, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :warm_water %>
    <%= form.check_box :warm_water, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :smoke_alarm %>
    <%= form.check_box :smoke_alarm, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :smoking_allowed %>
    <%= form.check_box :smoking_allowed, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :refrigirator %>
    <%= form.check_box :refrigirator, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :microwave %>
    <%= form.check_box :microwave, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :security_camera %>
    <%= form.check_box :security_camera, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :room_number %>
    <%= form.number_field :room_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :other %>
    <%= form.text_field :other, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
