<div id="<%= dom_id apartment %>" class="flex flex-col md:flex-row justify-between">
  <div>
    <p class="my-5">
      <strong class="block font-medium mb-1">City:</strong>
      <%= apartment.city %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Address:</strong>
      <%= apartment.address %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Phone Number:</strong>
      <%= apartment.phone %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Number of Rooms:</strong>
      <%= apartment.rooms.size %>
    </p>

    <p class="my-5">
      <%= link_to "Add New Room", new_dashboard_apartment_room_path(apartment), class: "rounded-lg py-3 px-5 bg-green-400 inline-block font-medium" %>
    </p>
  </div>

    <% if action_name != "show" %>
      <%= link_to "Show this apartment", dashboard_apartment_path(apartment), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this apartment', edit_dashboard_apartment_path(apartment), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  <iframe class="w-128 h-64 md:w-192 md:h-96 border-2 border-gray-800 border-solid" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=20.699443817138675%2C41.101991966686086%2C20.891017913818363%2C41.17568224290889&amp;layer=mapnik"></iframe>
</div>
