<div id="<%= dom_id apartment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= apartment.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= apartment.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= apartment.latitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= apartment.longitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rooms:</strong>
    <%= apartment.rooms %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this apartment", apartment, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this apartment', edit_apartment_path(apartment), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
