<!DOCTYPE html>
<html>
  <head>
    <title>Rentalia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<!--  https://larainfo.com/blogs/tailwind-css-simple-admin-dashboard-ui-example -->

    <div class="flex sidebar">

        <%= render 'layouts/sidebar' %>

        <div class="w-full px-4 py-2 bg-gray-200">
            <div class="container mx-auto mt-12">
                <%= yield %>
            </div>
        </div>

    </div>

</body>
</html>
